# Node.js modules
node_modules/

# Logs
*.log
npm-debug.log*

# Environment variables
.env

# Compiled output
dist/
build/

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# OS-specific files
.DS_Store
Thumbs.db

# IDE-specific files
.vscode/
.idea/
